# Log Returns

In [1]:
import numpy as np
import pandas as pd

In [2]:
log10Series = np.log10(np.array([1,2,3,4,5,6,7,8,9]))
df = pd.DataFrame(log10Series, columns=['log10'],index=[1,2,3,4,5,6,7,8,9])
df

      log10
1  0.000000
2  0.301030
3  0.477121
4  0.602060
5  0.698970
6  0.778151
7  0.845098
8  0.903090
9  0.954243

In [3]:
powr10Series = np.power(10,[1,2,3,4,5,6,7,8,9,10])
power10Df = pd.DataFrame(powr10Series, columns=['powr10'],index=[1,2,3,4,5,6,7,8,9,10])
power10Df['diff'] = power10Df['powr10'].diff()
power10Df['logOfDiff'] =np.log10(power10Df['powr10'].diff())
power10Df['log'] = np.log10(power10Df['powr10']).diff()
power10Df['cumLog'] = power10Df['log'].cumsum()
power10Df = power10Df[1:]
power10Df['exp']=10**power10Df['log'].cumprod(skipna=True)
power10Df['cumProd'] =power10Df['powr10'].cumprod()
power10Df['pctChange'] = power10Df['powr10'].pct_change(periods=1)
# power10Df['logDiff']=np.log(powr10Series['powr10'])

power10Df

,powr10,diff,logOfDiff,log,cumLog,exp,cumProd,pctChange
2,100,9.000000e+01,1.954243,1.0,1.0,10.0,100,NaN
3,1000,9.000000e+02,2.954243,1.0,2.0,10.0,100000,9.0
4,10000,9.000000e+03,3.954243,1.0,3.0,10.0,1000000000,9.0
5,100000,9.000000e+04,4.954243,1.0,4.0,10.0,100000000000000,9.0
6,1000000,9.000000e+05,5.954243,1.0,5.0,10.0,7766279631452241920,9.0
7,10000000,9.000000e+06,6.954243,1.0,6.0,10.0,-6930898827444486144,9.0
8,100000000,9.000000e+07,7.954243,1.0,7.0,10.0,3136633892082024448,9.0
9,1000000000,9.000000e+08,8.954243,1.0,8.0,10.0,80237960548581376,9.0
10,10000000000,9.000000e+09,9.954243,1.0,9.0,10.0,-7908320945662590976,9.0

In [4]:
a = np.array([1,2,3,10])
np.cumprod(a)

array([ 1,  2,  6, 60])

In [5]:
df = pd.DataFrame(np.fromfunction(lambda x: 100*((1+0.04)**x), [10]),columns=['value'])
x =2
a = 100*((1+0.04)**x)
df['p_change'] = df.pct_change(periods=1)
df['diff'] = df['value'].diff()
df['manually_done_change']= (df['value']-df['value'].shift(1))/df['value'].shift(1)
df['log_change'] = np.log(df['value']).diff()
df['log_change2'] = np.log(df['value'])-np.log(df['value'].shift(1))

df['sum_of_log_change'] = df['log_change'].cumsum()
df['exp_of sum_of_log_change'] = np.exp(df['sum_of_log_change'])
df['prod_of_log_change'] = df['log_change'].cumprod()
df['sum_prod_of_log_change'] = df['prod_of_log_change'].cumsum()
df

,value,p_change,diff,manually_done_change,log_change,log_change2,sum_of_log_change,exp_of sum_of_log_change,prod_of_log_change,sum_prod_of_log_change
0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,104.000000,0.04,4.000000,0.04,0.039221,0.039221,0.039221,1.040000,3.922071e-02,0.039221
2,108.160000,0.04,4.160000,0.04,0.039221,0.039221,0.078441,1.081600,1.538264e-03,0.040759
3,112.486400,0.04,4.326400,0.04,0.039221,0.039221,0.117662,1.124864,6.033182e-05,0.040819
4,116.985856,0.04,4.499456,0.04,0.039221,0.039221,0.156883,1.169859,2.366257e-06,0.040822
5,121.665290,0.04,4.679434,0.04,0.039221,0.039221,0.196104,1.216653,9.280629e-08,0.040822
6,126.531902,0.04,4.866612,0.04,0.039221,0.039221,0.235324,1.265319,3.639929e-09,0.040822
7,131.593178,0.04,5.061276,0.04,0.039221,0.039221,0.274545,1.315932,1.427606e-10,0.040822
8,136.856905,0.04,5.263727,0.04,0.039221,0.039221,0.313766,1.368569,5.599173e-12,0.040822
9,142.331181,0.04,5.474276,0.04,0.039221,0.039221,0.352986,1.423312,2.196036e-13,0.040822

In [6]:
totalReturn = (142.3311-100)/100
totalReturn

0.42331099999999994

In [7]:
b = df['sum_of_log_change'][-1:]
another_b = df['log_change'].sum()
totalReturn2 = np.exp(b)-1
totalReturn

0.42331099999999994